body {
  background-color: lightsteelblue;
  font-family: "Chakra Petch Light", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

th {
  background-color: lightgoldenrodyellow;
  border-bottom: 1px solid #ccc;
  padding: .5em 1em;
  text-align: left;
  font-weight: bold;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
}

.highlight {
  background-color: aliceblue;
  color: dodgerblue;
  font-size: larger;
}

td:hover {
  cursor: pointer;
}


.infoDiv {
  display: flex;
  align-items: center;
  width: 100%;
}

.infoDiv label {
  font-weight: bold;
  margin-right: 1rem;
}

.modal {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-start-start-radius: 50px;
  border-start-end-radius: 50px;
  border-style: inset;
  border-color: aquamarine;
  box-shadow: 0 0 150px 10px black;
  width: 30rem;
  height: 40rem;
}

.modal h1, h3 {
  text-align: center;
}

.filterModal {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-style: inset;
  border-color: aquamarine;
  border-radius: 40px;
  box-shadow: mediumaquamarine 0 0 15px 5px;
}

.filterModal div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.filterModal label, input, select {
  margin-bottom: 10px;
  border-radius: 5px;
}

#closeButtonFilter {
  font-size: x-large;
  color: darkgray;
}

#closeButtonFilter:hover {
  cursor: pointer;
  color: black;
}



